{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Org Admins' %}</li>
    </ol>
</nav>

<p class="title-1"><i class="fas fa-user-shield"></i>{% trans 'Org Admins' %}</p>

{% include 'snippets/messages.html' %}
{% include 'snippets/filter_form.html' %}

<div class="table-responsive table-shadow table-light table-striped m-0 mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th> {% trans 'ID No.' %} </th>
                <th> {% trans 'Full Name' %} </th>
                <th> {% trans 'Email' %} </th>
                <th> {% trans 'Mob No.' %} </th>
                <th> {% trans 'Address/city' %} </th>
                <th> {% trans 'Last login' %}  </th>
                {% if request.user.is_superuser %}
                <th> {% trans 'Action' %} </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for org_admin in filter.qs %}
            <tr>
                <td> {{ forloop.counter }}.</td>
                <td>{{ org_admin.username }}</td>
                <td><a href="{% url 'profile_single' org_admin.id %}">{{ org_admin.get_full_name }}</a></td>
                <td>{{ org_admin.email }}</td>
                <td>{{ org_admin.phone }}</td>
                <td>{{ org_admin.address }}</td>
                <td>{{ org_admin.last_login }}</td>
                {% if request.user.is_superuser %}
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu position-fixed">
                          <li><a class="dropdown-item" href="{% url 'org_admin_edit' pk=org_admin.pk %}"><i class="fas fa-edit"></i>{% trans 'Update' %}</a></li>
                          <li><a class="dropdown-item" target="_blank" href="{% url 'profile_single' org_admin.id %}?download_pdf=1"><i class="fas fa-download"></i>{% trans 'Download PDF' %}</a></li>
                          <li><a class="dropdown-item text-danger" href="{% url 'org_admin_delete' pk=org_admin.pk %}"><i class="fas fa-trash-alt"></i> {% trans 'Delete' %}</a></li>
                        </ul>
                      </div>
                </td>
                {% endif %}

                {% empty %}
                <tr>
                  <td colspan="8">
                  <span class="text-danger">
                    {% trans 'No Org Admin(s).' %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_org_admin' %}">
                    <i class="primary" style="font-size: 22px;">
                        {% trans 'Add Org Admin Now.' %}
                    </i>
                    {% endif %}
                    </a>
                  </span>
                </td>
                </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-primary" href="{% url 'add_org_admin' %}"><i class="fas fa-plus"></i>{% trans 'Add Org Admin' %}</a>
</div>
{% endif %}
{% endblock content %}
